*.ipynb
**/.ipynb_checkpoints/
**/__pycache__/
**/slurm*
*.log
*.out

**/backjob.log
*.bac

AbacusHOD/*
EZmocksPNG/*
fitEZmock/*
mock_ps/*

clustering/run_bin13.sh
clustering/xirunpc_bin13.py
clustering/run_z0.65.sh
inference/standard.py
inference/test_fit_p.py
inference/configs/LRGs-z1_fNL30_base.yaml
inference/configs/LRGs-z1_fNL100_base.yaml
inference/configs/QSOs-z4_fNL30_base_adddv.yaml
inference/tests/run_fit_p_LRGs-z1_fNL30_base.sh
inference/tests/run_fit_p_LRGs-z1_fNL100_base.sh
inference/tests/run_fit_p_QSOs-z4_fNL30_base_adddv.sh
inference/prepare_data_EZmockPK.py
hod-variation/launchers/QSO-Summit_z0_base-hod-v.sh
hod-variation/launchers/run_mock.sh
hod-variation/scripts/run_pocomc.py
hod-variation/source/pocomc_helpers.py
mock-data-cov/scripts/genEZmock.sh
mock-data-cov/prep_ezmocks.py
mock-data-cov/launchers/run_ez_paral_fnl100.sh
mock-data-cov/launchers/run_ez_paral.sh
mock-data-cov/launchers/run_ez_w_disp_fnl100.sh
mock-data-cov/launchers/run_ez_w_disp.sh
mock-data-cov/launchers/run_ezmocks_bac.sh
mock-data-cov/launchers/run_ezs_qso100.sh
mock-data-cov/launchers/run_ezs.sh
mock-data-cov/launchers/ezmocks/LRGs-z1_fnl30_base.sh
mock-data-cov/launchers/ezmocks/QSOs-z4_fnl30_base.sh
mock-data-cov/source/launcher_helpers.py
mock-data-cov/scripts/prep_2lpt_i.py
mock-data-cov/scripts/run_bispec.py
mock-data-cov/scripts/run_disp_2lpt.sh
mock-data-cov/scripts/run_EZmocks_.py
mock-data-cov/scripts/run_EZmocks_small.py
mock-data-cov/scripts/run_EZmocks_w_disp.py
mock-data-cov/scripts/run_EZmocks.py
mock-data-cov/configs/EZmocks.yaml
mock-data-cov/configs/fcfc_2pt_box.conf
mock-data-cov/test-z4/ps_comparison_fnl200.png
mock-data-cov/test.sh
mock-data-cov/scripts/run_thecov_box_bac.py
mock-data-cov/scripts/fitEZmock.py
mock-data-cov/scripts/plot_fitres.py
mock-data-cov/scripts/prep_fitEZmock.py
mock-data-cov/fitEZmock.sh
mock-data-cov/post-fitEZmock.sh
hod-variation/scripts/pop_mocks.py
.gitignore
inference/scripts/fit_bphi.py
inference/tmp.png
HIP/data_thecov.py
HIP/fit_p_jackknife.py
HIP/HOD_to_p_thecov.py
HIP/test
HIP/run_quick.sh
hod-variation/sampleHOD_plot.png
inference/plot_chains/sampleHOD.py
inference/scripts/fit_p_sampledHOD.py
src/AbacusHODmock.py
HIP/sampleHOD_plot.png
mocks/r_ps/analyze_jackknife.py
mocks/r_ps/post_ps.py
mocks/r_ps/ps_jackknife.py
mocks/r_ps/ps.py
mocks/r_ps/README.md
mocks/r_ps/run_ps_jackknife.sh
mocks/r_ps/run_ps.sh
mocks/r_ps/test_jackknife.py
mocks/r_ps/usage_example.py
mocks/r_ps/launchers/QSO-fnl30_z4_base.sh
inference/out/sampleHOD.png
fit_fNL_HIP/AbacusHODmock.py
fit_fNL_HIP/genAbacusHODmock.sh
fit_fNL_HIP/new_config.yaml
lssutils/__init__.py
lssutils/io_def.py
lssutils/power_spectrum.py
genAbacusHODmock/new_config.yaml
lightcone/cutsky_random.sh
